

      
        <div class="mdl-grid demo-content">
          <div class="demo-charts mdl-cell mdl-cell--12-col">
            <h2>Products</h2>           
            <%= link_to new_product_path, id:"link_new_product" ,:class => 'mdl-button mdl-js-button mdl-button--fab mdl-button--colored' do%><i class="material-icons">add</i><% end %>
          </div>
        </div>
        
        <div class="mdl-grid demo-content">
          <div class="demo-charts mdl-cell mdl-cell--12-col">
            <table class="mdl-data-table mdl-js-data-table mdl-cell--12-col mdl-data-table--selectable mdl-shadow--2dp">
              <thead>
                <tr class="mdc-data-table__row">
                  <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Name</th>
                  <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Code</th>
                  <th>Quantity</th>
                  <th>Validate Date</th>
                  <th>Price</th>
                  <th>Weight</th>
                  <th>Actions</th>      
                </tr>
              </thead>
              <tbody>
          
                <% @products.each do |product| %>
                <tr class="mdc-data-table__row responsive-table">
                  <td class="mdl-data-table__cell"><%= product.name %></td>
                  <td class="mdc-data-table__cell"><%= product.code %></td>
                  <td class="mdc-data-table__cell"><%= product.quantity %></td>
                  <td class="mdc-data-table__cell"><%= product.validate_date %></td>
                  <td class="mdc-data-table__cell"><%= product.price %></td>
                  <td class="mdc-data-table__cell"><%= product.weight %></td>
                  <td class="mdc-data-table__cell">
                    <%= link_to product_path(product), :class => 'mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored' do%>
                      <i class="material-icons">visibility</i>
                    <% end %>
                    <%= link_to edit_product_path(product), :class => 'mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored' do%>
                      <i class="material-icons">edit</i>
                    <% end %>
                    <%= link_to product_path(product), method: :delete, data: { confirm: 'Do you reaaly wish destroy this product?' }, :class => 'mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored' do%>
                      <i class="material-icons">delete</i>
                    <% end %>
                  </td>
                </tr>
                <% end %>

              </tbody>
            </table>
          </div>
        </div>

