<div class="mdl-grid mdl-cell--8-col">

  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
        <h4 class="mdl-cell mdl-cell--12-col"><%= @product.name %></h4>
        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <div class="section__circle-container__circle mdl-color--primary"></div>
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Code</h5>
          <%= @product.code %><br>
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Type</h5>
          <%= @product.product_type.name %><br>
        </div>
        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <div class="section__circle-container__circle mdl-color--primary"></div>
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Quantity</h5>
          <%= @product.quantity %>
        </div>
        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <div class="section__circle-container__circle mdl-color--primary"></div>
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Validate Date</h5>
          <%= @product.validate_date %>
        </div>
        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <div class="section__circle-container__circle mdl-color--primary"></div>
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Price</h5>
           R$ <%= @product.price %>
        </div>
        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <div class="section__circle-container__circle mdl-color--primary"></div>
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Weight</h5>
          <%= @product.weight %>(g)
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Brand</h5>
          <%= @product.brand %>
        </div>
      </div>
      <br>
      <div class="mdl-card__actions mdl-card--border">
      <%= link_to root_path, class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" do%>
        Back
      <% end %>
    </div>
    </div>
  </section>

  <div class="demo-card-square mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text"><%= @product.name %></h2>
    </div>
    <div class="mdl-card__supporting-text">
      Details<br><br>
      Code: <%= @product.code %><br>
      Quantity: <%= @product.quantity %><br>
      Validate Date: <%= @product.validate_date %><br>
      Price: R$ <%= @product.price %><br>
      Weight: <%= @product.weight %>(g)<br>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <%= link_to root_path, class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" do%>
        Home
      <% end %>
    </div>
  </div>
</div>